build/
otree-core/database.db
dist/
otree-core/build
otree-core/dist
otree-core/django_otree/
otree-core/docs/_build/doctrees
otree-core/docs/_build/html/_sources/
otree-core/docs/app/Thumbs.db
otree-core/django_otree.egg-info/
myapp*
.idea/
otree-core/otree-core.geany
*.pyc
otree-core/tests/db.sqlite3
otree-core/otree_core.egg-info/
.tox/
.coverage
otree-core/htmlcov/


venv
*.pyc
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_coverage_results
_static_root
_bots*s