build/
otree/database.db
dist/
otree/build
otree/dist
otree/django_otree/
otree/docs/_build/doctrees
otree/docs/_build/html/_sources/
otree/docs/app/Thumbs.db
otree/django_otree.egg-info/
myapp*
.idea/
otree/otree-core.geany
*.pyc
otree/tests/db.sqlite3
otree/otree_core.egg-info/
.tox/
.coverage
otree/htmlcov/


venv
*.pyc
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_coverage_results
_static_root
_bots*s