{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>Credits</h2>
    <br>
    <p>
        SocialLab aims to understand how illusory social agents come to form a central part of psychotic symptoms
        by understanding how the cognitive representation of social agents is affected in people with psychosis.
    </p>
    <p>
        This project takes an innovative approach that looks specifically at how social agent representation –
        the ability to create, track, maintain and update representations of individuals –
        differs in people with psychotic symptoms.
    </p>
    <p>SocialLab is a project of the <a href="https://www.ucl.ac.uk/psychiatry">UCL Division of Psychiatry</a>
        (PI <a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=VBELL56">Vaughan Bell</a>)
        funded by a Wellcome Trust seed grant.
    </p>
    <p>
        Software development in collaboration with <a href="http://www.metacell.co.uk/">MetaCell</a>.
    </p>
{% endblock %}