{% extends 'base.html' %}
{% load staticfiles otree_tags %}

{% block internal_scripts %}
    <script src="{% static 'otree/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="aboutContent">
        <h2>About Social Lab</h2>
        <div id="ucl8bit"></div>
        <br>
        <p>
            Social Lab aims to understand how illusory social agents come to form a central part of psychotic symptoms
            by understanding how the cognitive representation of social agents is affected in people with psychosis.
        </p>
        <p>
            This project takes an innovative approach that looks specifically at how social agent representation –
            the ability to create, track, maintain and update representations of individuals –
            differs in people with psychotic symptoms.
        </p>
        <div id="portrait"></div>
        <p>Social Lab is a project of the <a href="https://www.ucl.ac.uk/psychiatry" target="_blank">Division of Psychiatry</a> of the University College of London
        supported by a Wellcome Trust seed grant awarded to <a id="vaughan" href="https://iris.ucl.ac.uk/iris/browse/profile?upi=VBELL56" target="_blank">Vaughan Bell</a>.

        <p>
            Software development in collaboration with <a href="http://www.metacell.co.uk/" target="_blank">MetaCell</a>.
        </p>

        <div id="wt"></div>
    </div>
{% endblock %}