{% extends 'base.html' %}
{% load staticfiles otree_tags %}

{% block internal_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/waitmodaldialog.css' %}">
    <script src="{% static 'otree/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/questionnaire_controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wait.js' %}"></script>
{% endblock %}

{% block links %}
    <!-- no links on wait page -->
{% endblock %}

{% block content %}
    <div class="gameIntroPage">
        <h1 class="gameIntroTitle"><b>{{ game_label }}</b></h1>
        <div id="loader" style="display:none;"></div>
        <div id="message-panel"></div>
    </div>

	<div id="game-instructions">
        {{ instructions |safe }}
    </div>

	<p id="instructions_label">
        Click the ready button to queue up for a game! <br>
        <button class="btn socialblue" id="ready-button" type="button">Ready</button>
    </p>

    <div class="modal" id="worker-id-dialog" style="display:none">
        <div class="dialog-backdrop">
            <div class="dialog-content">
                <input id="worker-id" type="text" name="worker-id" />
                <br/>
                <input id="worker-id-submit" type="button" value="Submit" />
                <br/>
                <p id="worker-id-feedback"></p>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="questionnaire-dialog" style="display:none">
        <div class="modal-dialog modal-lg" role="document">
            <div class="questionnaire-modal-content">
                <div id="questionnaireLabel"></div>
                <br>
                <div id="questionnaireContent"></div>
                <div id="questionnaireSubmitContainer">
                    <input  class="btn socialblue"  id="questionnaire-submit" type="button" value="Submit" />
                </div>
            </div>
        </div>
    </div>

    <script id="textQuestionTemplate" type="text/html">
        <div class="questionContainer">
            <div class="question">${label}</div>
            <div>
                <input id="${questionId}" type="text"/>
            </div>
            <br>
        </div>
    </script>

    <script id="choiceQuestionTemplate" type="text/html">
        <div class="questionContainer">
            <div class="question">${label}</div>
            <br>
            <form id="${questionId}-options">
            </form>
            <br>
        </div>
    </script>

    <script id="rangeQuestionTemplate" type="text/html">
        <div class="questionContainer">
            <div class="question">${label}</div>
            <br>
            <div id="${questionId}">
                <span id="question-range-min" class="question-range-label">${minLabel}</span>
                <span style="margin: 10px">
                    <input id="${questionId}-range-field" data-slider-tooltip="hide" />
                </span>
                <span id="question-range-max" class="question-range-label">${maxLabel}</span>
            </div>
            <br>
        </div>
    </script>
{% endblock %}