{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block current %}
    <p>
        Your partner gave you {{group.sent_amount}}.<br/>
        The points you were given tripled, now you have {{tripled_amount}}.</br>
        How many points will you give back?
    </p>

    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>
{% endblock %}


{% block otherballoon %}

    I am happy to give you {{group.sent_amount}}

{% endblock %}

{% block selfballoon %}


    {% formfield group.sent_back_amount with label="I will give back" %}
        {% next_button %}
        <button class="btn help" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}





