{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block current %}

    You have {{Constants.amount_allocated}} to allocate.

    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>

{% endblock %}


{% block otherballoon %}
    How many points will you give me?
{% endblock %}

{% block selfballoon %}
    {% formfield group.sent_amount with label="I want to offer" %}
    {% next_button %}
    <button class="btn help" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}




