{% extends 'base.html' %}

{% block title %}Social Lab{% endblock %}

{% block content %}
    <div class="home">
        <div class="container text-xs-center">

            <div class="homeLeads">
                <p>Do you think you can tell a human from an artificial intelligence?</p>
                <p>Would you like to help us? Pick one of these games:</p>
            </div>

            <section class="section">
                    <section id="games_container" class="row">

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Chat</h4>
                                    <p class="card-text">Can you tell if you are talking to a human?</p>
                                    <a href="/wait/?game=chat" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Trust</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=trust" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Ultimatum</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=ultimatum" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Peace War</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=peacewar" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
        </div>
    </div>
{% endblock %}