{% extends 'base.html' %}

{% block title %}Social Lab{% endblock %}

{% block content %}
    <div class="home">
        <div class="container text-xs-center">

            <div style="height: 20px"></div>
                <p class="lead text-xs-center">Do you think you can tell a human from an artificial intelligence?</p>
                <p class="lead text-xs-center">Would you like to help us? Pick one of these games:</p>

            <div style="height: 40px"></div>

            <!--Section: Buttons-->
            <section class="section">
                    <section id="games_container" class="row">

                        <div class="col-md-3">
                            <!--Card-->
                            <div class="card">
                                <!--<div class="view overlay hm-white-slight">
                                    <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-fluid" alt="">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>-->

                                <div class="card-block">
                                    <h4 class="card-title">Chat</h4>
                                    <p class="card-text">Can you tell if you are talking to a human?</p>
                                    <a href="/wait/?game=chat" class="btn btn-brown">Play</a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <div class="col-md-3">
                            <!--Card-->
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Trust game</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=trust" class="btn btn-brown">Play</a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <div class="col-md-3">
                            <!--Card-->
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Ultimatum game</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=ultimatum" class="btn btn-brown">Play</a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                        <div class="col-md-3">
                            <!--Card-->
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Peace War game</h4>
                                    <p class="card-text">Can you tell if you are playing with a human?</p>
                                    <a href="/wait/?game=peacewar" class="btn btn-brown">Play</a>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                    </section>
                </section>
        </div>
    </div>
{% endblock %}