{% extends 'base.html' %}

{% block title %}Social Lab{% endblock %}

{% block content %}
    <div class="home">
        <div class="container text-xs-center">

            <div class="homeLeads">
                <p><b> Welcome to SOnAR</b></p>
                <p>Can you tell a human from a bot?</p>
                <p>Help us to develop <b>'TARA'</b> - The ARchitect of Agency - our resident AI.</p>
                <p>Pick one of these games to test yourself!</p>
            </div>
			
			<br>
            <br>
            <br>
            <br>
            <section class="section">
                    <section id="games_container" class="row">

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Chat</h4>
                                    <p class="card-text">Can you tell if you are talking to TARA?</p>
                                    <a id="chat-game-link" href="/wait/?game=chat" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Trust</h4>
                                    <p class="card-text">Can you tell if you are playing with TARA?</p>
                                    <a id="trust-game-link" href="/wait/?game=trust" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Ultimatum</h4>
                                    <p class="card-text">Can you tell if you are playing with TARA?</p>
                                    <a id="ultimatum-game-link" href="/wait/?game=ultimatum" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Peace War</h4>
                                    <p class="card-text">Can you tell if you are playing with TARA?</p>
                                    <a id="peacewar-game-link" href="/wait/?game=peacewar" class="btn socialblue">Play</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
        </div>
    </div>
{% endblock %}