{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block current %}


        You have both declared your intentions, now it's time for both of you to make your final move.


{% endblock %}

{% block otherballoon %}

    {% if other_player_intention == "Peace" %}
        I would like peace between us
    {% else %}
        I intend to declare war and invade your country!
    {% endif %}

{% endblock %}

{% block selfballoon %}

    <button name="decision" value="Peace" class="btn socialblue ">I declare peace</button>
    <button name="decision" value="War" class="btn socialblue ">I declare war</button>
    <button class="btn" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}


