{% load otree_tags staticfiles %}

<div>


    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}"/>

    <p>
    	In this task, you will play 5 rounds against the same partner. 
		For each round, you will first be asked to communicate your intentions - whether you intend to start a war, or declare peace.
		Each of you then will then make your real decision.
		You can be honest and stick with your stated intentions or you can deceive your partner and choose the other option.
    </p>
    <p>
		Please remember the following instructions, as <u>we will test you on them shortly</u>.
		<ul>
			<li>If you <strong>both choose peace</strong>, you both win 10 cents.
			<li>If <strong>one person chooses peace, but the other chooses war</strong>, the person who chooses war wins 15 cents and the person who chooses peace wins nothing.
			<li>If you <strong>both choose war</strong>, you win 5 cents each.
		</ul>
    <p>
    	You will play 5 rounds against the same partner, so you can earn up to an additional 75 cents bonus.
    	After each round, you will be asked to rate what you think motivated their decision.
    </p>
    <p>
		Your partner could be a human or a computer. Your job is to earn as much money as possible
		and you will be asked at the end which type of partner you think you are playing against.
    </p>
    <p>
		You will be playing in real time, so please do not delay your response.
    </p>
	
			
<!--	
		<table class='table table-bordered text-center'
               style='width: auto; margin: auto'>
            <tr>
                <th colspan=2 rowspan=2></th>
                <th colspan=2>The Other Participant</th>
            </tr>
            <tr>
                <th>Peace</th>
                <th>War</th>
            </tr>
            <tr>
                <th rowspan=2><span class="rotate90">You</span></th>
                <th>Peace</th>
                <td>{{ Constants.both_cooperate_payoff }}, {{ Constants.both_cooperate_payoff }}</td>
                <td>0 point, {{ Constants.betray_payoff }}</td>
            </tr>
            <tr>
                <th>War</th>
                <td>{{ Constants.betray_payoff }}, 0 point</td>
                <td>{{ Constants.both_defect_payoff }}, {{ Constants.both_defect_payoff }}</td>
            </tr>
        </table>
-->

	</p>

</div>
