{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block current %}

        You and your neighbouring country are at a political crossroads.
        Sitting at an international table you both have the option to declare your intentions, whether you want peace or war.
        You will have the choice later on to honour your word... or not.

    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>

{% endblock %}


{% block otherballoon %}
    mmm... peace... or war?
{% endblock %}

{% block selfballoon %}

    <button name="intention" value="Peace" class="btn socialblue ">I intend to declare peace</button>
    <button name="intention" value="War" class="btn socialblue ">I intend to declare war</button>
    <button class="btn help" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}



