{% extends "global/Base.html" %}
{% load otree_tags %}


{% block current %}
    How much will you keep for yourself out of the {{ Constants.endowment }} total?

    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>
{% endblock %}

{% block otherballoon %}
    Mmm... how much will I get?
{% endblock %}

{% block selfballoon %}

    {% formfield group.kept with label="I will keep" %}
    {% next_button %}
    <button class="btn help" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}


