/* SOBER SPECIFIC */
#youContainer {
    margin-top: -30px;
}

.btn.socialblue {
    background: #5d9f8e;
}

.btn.socialblue span, .btn.socialblue:after {
    background: #69ceb9;
}

/* END */

html {
    position: relative;
    min-height: 100%;
}

html.ingame {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9a9a9+0,818181+100 */
    background: #a9a9a9; /* Old browsers */
    background: -moz-linear-gradient(top, #a9a9a9 0%, #818181 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a9a9a9 0%, #818181 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a9a9a9 0%, #818181 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#818181', GradientType=0); /* IE6-9 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin-bottom: 70px;
}

.homeLeads {
    height: 140px;
    font-size: 28px;
    color: #ffd700;
    margin-top: 50px;
    margin-bottom: 20px;

}

.nav {
    font-family: 'aileronsregular';
}

nav.navbar {
    box-shadow: none;
    background-color: rgba(164, 164, 164, 0.94);
}

footer.page-footer {
    background-color: transparent;
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: transparent;
    height: 70px;
}

.ingame nav.navbar {
    background: transparent;
}

body.ingame {
    padding: 40px;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow: inset #519f8f 0 0 0 5px,
    inset #5fbba8 0 0 0 1px,
    inset #69ceb9 0 0 0 10px,
    inset #73e1ca 0 0 0 11px,
    inset #78ead2 0 0 0 16px,
    inset #7df4db 0 0 0 17px,
    inset #c5f4ff 0 0 0 22px,
    inset #81fbe1 0 0 0 23px;
    -moz-box-shadow: inset #519f8f 0 0 0 5px,
    inset #5fbba8 0 0 0 1px,
    inset #69ceb9 0 0 0 10px,
    inset #73e1ca 0 0 0 11px,
    inset #78ead2 0 0 0 16px,
    inset #7df4db 0 0 0 17px,
    inset #c5f4ff 0 0 0 22px,
    inset #81fbe1 0 0 0 23px;
    box-shadow: inset #519f8f 0 0 0 5px,
    inset #5fbba8 0 0 0 1px,
    inset #69ceb9 0 0 0 10px,
    inset #73e1ca 0 0 0 11px,
    inset #78ead2 0 0 0 16px,
    inset #7df4db 0 0 0 17px,
    inset #c5f4ff 0 0 0 22px,
    inset #81fbe1 0 0 0 23px;
}

.home {
    color: white;
    font-weight: 100;
}

.nav {
    font-family: 'aileronsregular';
}

nav.navbar {
    box-shadow: none;
}

.btn {
    text-shadow: none;
    font-weight: normal;
}

#socialLablogo {
    background-image: url("../img/social_lab_logo.png");
    width: 150px;
    height: 78px;
    margin: 0 auto;
    background-size: 150px;
}

#socialLablogo.ingame {
    top: 40px;
    position: absolute;
    left: 40px;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    #socialLablogo {
        background-image: url("../img/social_lab_logo@2x.png");
        background-size: 150px;

    }
}

p.lead {
    font-weight: 100;
}

.card-block {
    background-color: rgb(105, 202, 182);
}

.card-block p {
    margin-bottom: 40px;
    margin-top: 30px;
}

.card {
    background-color: rgb(105, 202, 182);
    display: inline-block;
    position: relative;
    height: 280px;
}

.card-title {
    color: #494949;
    font-size: 30px;

}

.card-text {
    font-size: 18px;
}

/* common background color to all */
.card, .card::before, .card::after {
    background-color: rgb(105, 202, 182);
}

/* shared styles to make left and right lines */
.card::before, .card::after {
    content: "";
    position: absolute;
    height: 270px;
    width: 5px;
    top: 5px;

}

/* pull the left 'line' out to the left */
.card::before {
    left: -5px;
}

/* pull the right 'line' out to the right */
.card::after {
    right: -5px;
}

h2 {
    color: #ffd700;
}

h4 {
    color: #ffd700;
}

/* ABOUT */

#aboutContent {

    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#wt {
    background-image: url("../img/wtlogo.png");
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

/*SIGN PAGE*/

.signPage {
    width: 40%;
    margin: 0 auto;
}

.signPage h2 {
    margin-bottom: 40px;
}

#login-form-container {
    width: 500px;
    margin-top: 40px;
}

.login-center {
    margin: 0 auto;
    text-align: center;

    margin-top: 25px;
    margin-bottom: 45px;
}

.control-label {
    float: left;
    margin-top: 12px;
    font-weight: 200;
    margin-right: 10px;
    margin-left: 10px;

}

.form-group {
    margin-bottom: 0px;
}

.self .popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    width: 750px;

}

.otherplayer .popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    width: 300px;
}

.btn-large {
    height: 54px;
    line-height: 34px;
    font-size: 1.5rem;
}

.gameContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

#gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 900px;
    height: 630px;
}

.playerContainer {
    width: 750px;
    margin: 0 auto;
    margin: 15px;
}

.player.otherplayer {
    background-image: url("../img/humanRobot.png");
    position: absolute;
    right: 100px;
    top: 80px;
    border: solid 8px #101f1c;
    background-color: #24403c;
}

.player.self {
    position: absolute;
    left: 100px;
    bottom: 80px;
    background-image: url("../img/human.png");
    border: solid 8px #3e8273;
    background-color: #69ceb9;
}

.player {
    margin-top: 39px;
    height: 150px;
    width: 150px;
    z-index: 2;

}

.otherplayer .popover {
    border: solid 6px #101f1c;
}

.self .popover {
    border: solid 6px #3e8273;
}

.popover {
    border-radius: 0px;
    padding: 15px;
    margin-top: -20px;

}

.popover .arrow {
    border-right-color: rgba(0, 0, 0, 0) !important;
    border-left-color: rgba(0, 0, 0, 0) !important;
}

.self .popover.right .arrow:after {
    left: -5px;
    border-right-color: #3e8273;
    border-left-color: #3e8273;
}

.otherplayer .popover.left .arrow:after {
    right: -5px;
    border-right-color: #101f1c;
    border-left-color: #101f1c;
}

.popover-content {
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}

.popover-content select.form-control {
    width: 180px;
}

.controls {
    float: left;
}

.situation {
    padding: 0px 25px 0px 25px;
    text-align: center;
    font-size: 18px;
    height: 200px;
    font-weight: 200;
    background: #582710; /* same as page background */
    letter-spacing: .15em;
    position: absolute;
    top: 37%;
    left: 17%;
    width: 70%;
    z-index: 0;
    color: white;
    border-bottom: 8px solid darkgrey;
    opacity: 0.9;

}

@keyframes typing {
    from {
        width: 100%
    }
    to {
        width: 0
    }

}

.typing {
    text-align: center;
    padding: 25px;

    background: #582710; /* same as page background */
    top: 0;
    margin: 0;
    z-index: 1;

}

.hiders {
    padding: 25px 0px 25px 0px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 93%;
    background: transparent;
    z-index: 2;
}

.hiders p {
    position: relative;
    clear: both;
    margin: 0;
    float: right; /* makes animation go left-to-right */
    width: 0; /* graceful degradation: if animation doesn't work, these are invisible by default */
    background: #582710; /* same as page background */
    animation: typing 2s steps(30, end);
    animation-fill-mode: both; /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
    animation-delay: 2s;
}

.hiders p:nth-child(3) {
    animation-delay: 4s;
}

.hiders p:nth-child(4) {
    animation-delay: 6s;
}

.hiders p:nth-child(5) {
    animation-delay: 8s;
}

.instructionsContainer {
    display: none;
}

#instructionsModal .modal-content {
    background-color: rgb(255, 172, 0);
    font-size: 16px;
    letter-spacing: 0.5px;
}

#instructionsModal .panel-body {
    height: 450px;
    overflow: scroll;
}

.modal-title {
    color: white;
}

.instructionsContainer h4 {
    color: white;
}

.modal-dialog {
    z-index: 1100;
}

.modal {
    z-index: 1090;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    transition: 0.6s;
    transform-style: preserve-3d;
    -ms-filter: "FlipH";
}

.unflip {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    transition: 0.6s;
    transform-style: preserve-3d;
    -ms-filter: "FlipH";
}

#time-limit {
    bottom: 25px;
    right: 40px;
    position: absolute;
    color: lightcyan;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.shake {
    animation-name: shake;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

#message-panel {
    font-family: aileronsregular;
    color: white;
    margin-bottom: 50px;
}

#instructions_label {
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    color: white;
	font-size: 1.2rem;
}

.gameIntroPage {
    text-align: center;
}

.gameIntroTitle {
    font-family: "aileronsregular";
    font-size: 48px;
    margin-bottom: 40px;
}

#game-instructions {
    letter-spacing: 0.001em;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
	text-align: center;
    font-size: 1.2rem;
}

/*CHAT*/

.otherPlayerName {
    float: left;
    color: #ff8110;
    width: 125px;
    text-align: left;
    margin-left: 20px;
}

.playerName {
    float: left;
    color: #69ceb9;
    width: 50px;
    text-align: left;
    margin-left: 20px;
}

.chattext {
    text-align: left;
    margin-left: 35px;
}

#chatHistory {
    height: 180px;
    overflow-y: scroll;
}

#selfMessage {
    width: 75%;
    height: 43px;
    margin-right: 10px;
    padding-left: 10px;
}

#selfMessage:focus {
    border-bottom: 2px solid #3e8273;
    box-shadow: 0 1px 0 0 #3e8273;
}

/* SCROLL */

#chatHistory::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#chatHistory::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#chatHistory::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

/*SPINNER*/

#loader {
    animation: spin 1s linear infinite;
    height: 10px;
    width: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

@keyframes spin {
    0% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    6.25% {
        box-shadow: 0px -30px transparent,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    12.5% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    18.75% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    25% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    31.25% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    37.5% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px transparent,
        -10px -30px transparent;
    }
    43.75% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px #7df4db,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px transparent;
    }
    50% {
        box-shadow: 0px -30px transparent,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px #7df4db,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    56.25% {
        box-shadow: 0px -30px #7df4db,
        10px -30px transparent,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px #7df4db,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    62.5% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px transparent,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px #7df4db,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    68.75% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px transparent,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px #7df4db,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    75% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px transparent,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px #7df4db,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    81.25% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px transparent,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px #7df4db,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    87.5% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px transparent,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px #7df4db,
        -10px -30px #7df4db;
    }
    93.75% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px transparent,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px #7df4db;
    }
    100% {
        box-shadow: 0px -30px #7df4db,
        10px -30px #7df4db,
        20px -20px #7df4db,
        30px -10px #7df4db,
        30px 0px #7df4db,
        30px 10px #7df4db,
        20px 20px #7df4db,
        10px 30px #7df4db,
        0px 30px transparent,
        -10px 30px transparent,
        -20px 20px transparent,
        -30px 10px transparent,
        -30px 0px transparent,
        -30px -10px transparent,
        -20px -20px transparent,
        -10px -30px transparent;
    }
}

.modal-backdrop {
    opacity: 0.8 !important;
}

#question-text-field {
    color: white !important;
    font-size: 24px;
}

#question-dialog .modal-content {
    background: transparent;
    border: 0;
    height: 300px;
    box-shadow: none;
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
}

#question-blocking-dialog .modal-content {
    background: transparent;
    border: 0;
    height: 300px;
    box-shadow: none;
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
    color: white;
}

#choiceQuestion .btn {
    color: black !important;
}

.popover {
    z-index: 10;
}

#question-dialog .question {
    color: white;
}

#question-dialog .question-range-label {
    color: white;
}

.dropdown-toggle::after {
    content: none !important;
}

[data-id="question-choice-field"] {
    height: 35px;
}

#external-platform-dialog .modal-content {
    background: transparent;
    border: 0;
    height: 300px;
    box-shadow: none;
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
    color: white;
}

#disconnection-notification-dialog .modal-content {
    background: transparent;
    border: 0;
    height: 300px;
    box-shadow: none;
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
    color: white;
}

.roundLabel{
    width: 160px;
    text-align: center;
    margin: 0 auto;
    margin-top:-60px;
    background: #519f8f;
    color: #c5f4ff;
    border: solid #78ead2 4px;
    padding: 10px;
}

.points{
    position: absolute;
    top: 30px;
    right: 35px;
    width: 140px;
    color: white;
    font-size: 12px;
    text-align: right;
}

.pointsLabel{
    color: #ffe400;
    font-size: 22px;

}

