{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block global_scripts %}
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block current %}
    <div id="chatHistory">Send a message!</div>
    <input id="plainHistory" name="sent_text" type="text" style="display:none" />
    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>
{% endblock %}


{% block otherballoon %}
    <div id="otherPlayerMessage">...</div>
{% endblock %}

{% block selfballoon %}
    <input type="text" id="selfMessage" maxlength="140"></input>
    <button class="btn socialblue" id="sendButton" type="button">Send</button>
{% endblock %}




