{% load otree_tags staticfiles %}

<div>
    <p>
        You are about to start a chat. You will be assigned to either a fellow human or a computer chatbot. Your job is to work out which you are communicating with.
    </p>
    <p>
        You will be asked every few lines to rate whether you think you are interacting with a human or a chatbot using a sliding scale. We analyse the text, so <strong>please don't use abbreviations or slang</strong> and <strong>please do not use offensive words or text</strong> or we will reject the task. After writing, please wait for the other person to respond before writing your response.
    </p>
    <p>
        You MUST use a desktop web browser. This will not work if you use a mobile web browser.
    </p>
    <p>
      It can take up to a minute to find a computer or human partner, so please wait after clicking. Good luck!
    </p>
</div>
