{% load otree_tags staticfiles %}

<div>
    <p>
        You will shortly enter a chatroom and you will be assigned to  either a fellow human participant or a computer chatbot.
    </p>
    <p>
		Your job is to work out which you are chatting to.
    </p>
    <p>
        You will be asked every few lines to rate whether you think you are interacting with a human or a chatbot.
    </p>
    <p>
        We analyse the text, so please don't use abbreviations or slang. 
    </p>
    <p>
        Good luck!
    </p>
</div>
