body{
    background-color:#8c8c8c;
    font-family: "Helvetica Neue";

}
#socialLablogo{
	background-image: url("images/social_lab_logo.png");
	width: 250px;
	height: 131px;
	margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
#socialLablogo {
	background-image: url("images/social_lab_logo@2x.png");
	background-size: 250px 131px;

}
}