{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block current %}
    You and your partner in crime were both caught and now you are both being interrogated.
    Will you rat him out?

    <div style="display: none">
        <div id="platform">{{ participant_platform }}</div>
        <div id="worker_id">{{ participant_worker_id }}</div>
        <div id="completion_url">{{ participant_completion_url }}</div>
        <div id="session_id">{{ sessionId }}</div>
    </div>
{% endblock %}

{% block otherballoon %}
    Shall I cooperate or defect?
{% endblock %}

{% block selfballoon %}

    <button name="decision" value="Cooperate" class="btn socialblue ">I will cooperate</button>
    <button name="decision" value="Defect" class="btn socialblue ">I will defect</button>
    <button class="btn help" data-toggle="modal" data-target="#instructionsModal">?</button>

{% endblock %}


